<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>О расписании занятий СПбГУТ</title>
  <meta name="theme-color" content="#FFBC42"/>
  <link rel="manifest" href="manifest.json">
  <link rel="preconnect" href="https://cdn.glitch.com">
  <link rel="icon" type="image/png" href="https://cdn.glitch.com/d153c26f-a95c-4089-a5ac-d5158f721476%2F%D0%A1%D0%BB%D0%BE%D0%B9%201100.png?1552446743965">
  <link rel="apple-touch-icon" sizes="152x152" href="https://cdn.glitch.com/d153c26f-a95c-4089-a5ac-d5158f721476%2F%D0%9C%D0%BE%D0%BD%D1%82%D0%B0%D0%B6%D0%BD%D0%B0%D1%8F%20%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C%201.png?1552612458465">
  <link rel="apple-touch-icon" sizes="167x167" href="https://cdn.glitch.com/d153c26f-a95c-4089-a5ac-d5158f721476%2F%D0%9C%D0%BE%D0%BD%D1%82%D0%B0%D0%B6%D0%BD%D0%B0%D1%8F%20%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C%2012p.png?1552612458661">
  <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.glitch.com/d153c26f-a95c-4089-a5ac-d5158f721476%2F%D0%9C%D0%BE%D0%BD%D1%82%D0%B0%D0%B6%D0%BD%D0%B0%D1%8F%20%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C%2013p.png?1552612458676">
  <meta name="Description" content="О расписании занятий и экзаменов для всех факультетов, курсов и групп в Санкт-Петербургском государственном университете телекоммуникаций им. проф. М.А. Бонч-Бруевича (СПбГУТ им. проф. М.А.Бонч-Бруевича)">
  <link type="text/plain" rel="author" href="https://bonch.glitch.me/humans.txt" />
  <meta name="yandex-verification" content="827fa197018d314c" />
  <meta name="google-site-verification" content="r2KCK5QQwpdTpmyXO6qlrLMhTb8wxKj_HnwID8zoFRs" />
</head>
<body>
  <header>
  <div class="date-block">
    <div id="current-date"></div>
    <div id="week-number"></div>
  </div>  
  <h1>О расписании СПбГУТ</h1>
  <button id="change-group" aria-label="Текущая версия" style="min-width: 105px;">Beta v.0.7.0</button>
  </header><div class="bg"></div>
  <nav>
    <div class="week">
      <div class="current-week">
        <div id="thisWeek"></div>
        <div id="current-start">06.01</div>
        <span>-</span>
        <div id="current-end">12.01</div>
        <div id="indicator"></div>
    </div>
      <div class="pagination">
      <a href="https://bonch.glitch.me/" title="Расписание занятий" class="but">Пары</a>
      <a href="https://bonch.glitch.me/exams" title="Расписание экзаменов" class="but">Экзам.</a>
    </div>
  </div>
  </nav>
  <main class="about_us">
    <div class="item aproject">
      <div class="title-block">О проекте</div>
      <h3>Расписание СПбГУТ</h3>
      <p class="text">Студенческий проект по созданию удобного способа
        просмотра расписания для студентов всех курсов, факультетов и групп, учащихся в СПбГУТ им. проф. М.А.
        Бонч-Бруевича.</p>
    </div>
    <div class="item team">
      <div class="title-block">Команда</div>
      <div class="dev">
        <img class="photo" src="https://cdn.glitch.com/d153c26f-a95c-4089-a5ac-d5158f721476%2F11.png?1554661910945" alt="Илья Смагин">
        <div class="we">
          Идея, Дизайн и Разработка
          <p class="links">Смагин Илья</p>
          <p class="links"><a href="https://dribbble.com/la_la_code">Dribbble</a>, <a
              href="https://twitter.com/la_la_code">Twitter</a>, <a href="https://vk.com/la_la_code">VK</a>: /la_la_code
            <br>E-mail: <a href="Mailto: spock.uss.enterprise@ya.com">spock.uss.enterprise@ya.com</a></p>
        </div>
      </div>
      <div class="dev">
        <img class="photo" src="https://cdn.glitch.com/d153c26f-a95c-4089-a5ac-d5158f721476%2F33.png?1554661913574" alt="Анастасия Бурдинская">
        <div class="we">
          <span>Web-верстальщик</span><br>
          <span style="font-size: 14px;">Бурдинская Анастасия</span>
          <p class="links"><a href="https://www.instagram.com/snowled45/">Instagram</a>, <a
              href="https://twitter.com/snow_leopard_15">Twitter</a>: @snow_leopard_15
            <br>VK: <a href="https://vk.com/burdinskaya0">/burdinskaya0</a></p>
        </div>
      </div>
    </div>
    <div class="item technology">
      <div class="title-block">Разработка и технологии</div>
      <h3>Сервер</h3>
      <p class="links">
        <a href="https://nodejs.org/en/">Node.js</a><br>
        <a href="https://expressjs.com/">Express framework</a>
      </p>
      <h3>Дизайн</h3>
      <p class="links">
        <a href="https://dribbble.com/shots/5913704-Style-guide">Дизайн-проект</a><br>
        <a href="https://dribbble.com/shots/6068799-Bottom-menu-animation">Настройки и навигация</a><br>
        <a href="https://dribbble.com/shots/6013318-Drop-down-form-microinteraction">Шапка и мобильная форма</a>
      </p>
    </div>
    <div class="item changelog">
      <div class="title-block">Обновления</div>
      <p class="text">
        v0.1.0 - 10.02.2019 : beta-тест<br>
        v0.2.0 - 26.02.2019 : works offline<br>
        v0.3.0 - 05.03.2019 : vanilla js<br>
        v0.4.0 - 11.03.2019 : nav + teachers<br>
        v0.5.0 - 13.03.2019 : mobile footer<br>
        v0.5.3 - 15.03.2019 : a2hs button<br>
        v0.5.5 - 16.03.2019 : animation<br>
        v0.6.0 - 07.04.2019 : about<br>
        v0.7.0 - 26.04.2019 : exams<br>
        v0.8.0 - 18.09.2019 : tablet view
      </p>
    </div>
    <div class="item feedback">
      <div class="title-block">Обратная связь</div>
      <h3>Вопросы и предложения</h3>
      <p class="links"><a href="Mailto:spock.uss.enterprise@ya.com">E-mail</a>,
        <a href="https://twitter.com/la_la_code">Twitter</a>,
        <a href="https://vk.com/la_la_code">VK</a>
      </p>
    </div>
  </main>
<script src="/client.js"></script>
<script type="text/javascript"> (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(52294711, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/52294711" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<script>if('serviceWorker' in navigator){navigator.serviceWorker.register('/sw.js');}</script>
</body>
</html>