<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="theme-color" content="#FFBC42"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/plain" rel="author" href="https://bonch.glitch.me/humans.txt" />
  <meta name="google-site-verification" content="r2KCK5QQwpdTpmyXO6qlrLMhTb8wxKj_HnwID8zoFRs" />
  <meta name="yandex-verification" content="d717c50104aa7ffe" />
  <title>Расписание занятий СПбГУТ</title>
  <meta name="Description" content="Расписание занятий для всех факультетов, курсов и групп в Санкт-Петербургскоом государственном университете телекоммуникаций им. проф. М.А. Бонч-Бруевича. Расписание пар СПбГУТ.">
  <link rel="icon" type="image/png" href="https://cdn.glitch.com/d153c26f-a95c-4089-a5ac-d5158f721476%2F%D0%A1%D0%BB%D0%BE%D0%B9%201100.png?1552446743965">
  <link rel="manifest" href="manifest.json">
  <link rel="apple-touch-icon" sizes="152x152" href="https://cdn.glitch.com/d153c26f-a95c-4089-a5ac-d5158f721476%2F%D0%9C%D0%BE%D0%BD%D1%82%D0%B0%D0%B6%D0%BD%D0%B0%D1%8F%20%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C%201.png?1552612458465">
  <link rel="apple-touch-icon" sizes="167x167" href="https://cdn.glitch.com/d153c26f-a95c-4089-a5ac-d5158f721476%2F%D0%9C%D0%BE%D0%BD%D1%82%D0%B0%D0%B6%D0%BD%D0%B0%D1%8F%20%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C%2012p.png?1552612458661">
  <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.glitch.com/d153c26f-a95c-4089-a5ac-d5158f721476%2F%D0%9C%D0%BE%D0%BD%D1%82%D0%B0%D0%B6%D0%BD%D0%B0%D1%8F%20%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C%2013p.png?1552612458676">

  <link rel="preconnect" href="https://cdn.glitch.com">
  <link rel="stylesheet" media="all" href="style.css"></head>
<body>
  <header>
  <div class="date-block">
    <div id="current-date"></div>
    <div id="week-number"></div>
  </div>  
  <h1 style="width: auto; margin: 0 auto 0 auto">Расписание СПбГУТ</h1>
  </header>
  <div class="bg"></div>
  <nav>
    <div class="week">
      <div class="current-week">
        <div id="thisWeek"></div>
        <div id="current-start">11.03</div> - <div id="current-end">17.03</div>
        <div id="indicator"></div>
    </div>
      <div class="pagination">
      <a href="/" title="Расписание занятий" class="but">Пары</a>
      <a href="/exams" title="Расписание экзаменов" class="but">Экзам.</a>
    </div>
  </div>
  </nav>
  <main>
    <section>
    <h1>Обновления</h1>
    <div class="item changelog">
      <div class="title-block">0.1.0 - 10.02.2019</div>
      <p class="text">
        v0.1.0 - 10.02.2019 : beta-тест<br>
        v0.2.0 - 26.02.2019 : works offline<br>
        v0.3.0 - 05.03.2019 : vanilla js<br>
        v0.4.0 - 11.03.2019 : nav + teachers<br>
        v0.5.0 - 13.03.2019 : mobile footer<br>
        v0.5.3 - 15.03.2019 : a2hs button<br>
        v0.5.5 - 16.03.2019 : animation<br>
        v0.6.0 - 07.04.2019 : about<br>
        v0.7.0 - 26.04.2019 : exams<br>
        v0.8.0 - 18.09.2019 : tablet view<br>
        v0.9.0 - 12.10.2019 : dark theme
      </p>
    </div>
    </section>
  </main>
  <footer>
    <a href="/humans.txt" class="but">О нас</a><a href="/" id="add" class="but"><img src='https://cdn.glitch.com/d153c26f-a95c-4089-a5ac-d5158f721476%2Fround-home-24px.svg?1552589502397'></a><a href="/exams" title="Расписание экзаменов" id="ex" class="but">Экзам.</a><a href="https://cabs.itut.ru/cabinet/" title="Личный кабинет" id="lk" class="but">ЛК</a><p>Все данные получены из открытых источников.</p>
  </footer>
<script src="/client.js"></script>
<script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(52294711, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/52294711" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<script>if('serviceWorker' in navigator) {navigator.serviceWorker.register('/sw.js');}</script>
</body>
</html>